header{ 
    text-align: center;
    padding: 20px;
    color: whitesmoke;
    background-color: black;
    font-size: 22px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    border: 4px crimson double;
    }

footer{
    text-align: center;
        padding: 20px;
        color: whitesmoke;
        background-color: black;
        font-size: 22px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
        border: 4px crimson double;
        }

#links{
        text-align: center;
        color: aquamarine;
        background-color: lightslategray;
        border: 10px black ;
        font-size: 20px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
section{
        display: inline-block;
        background-color: gray;
        border:3px black double;
    }  

aside{
        display: inline-block;
        background-color: grey;
        border:3px black double;
}
article{
    display: inline-block;
    padding: 5px;
    border:3px black double;

}